/*
importando a fonte dela gothic do google fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*
padrão
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 20pt;
}

/*
aplicando o dela gothic no h1 h2 h3 h4 h5 h6
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Dela Gothic One", sans-serif;
    ;
}


.nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    color: #1e1e1e;
}